<main>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Change-detection</mat-card-title>
      <mat-card-subtitle>angular</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <mat-form-field appearance="outline">
        <mat-label>Enter a number</mat-label>
        <input matInput type="number" />
      </mat-form-field>
      <button mat-stroked-button color="primary">ADD</button>
    </mat-card-actions>
    <mat-card-content>
      <app-item1></app-item1>
      <div class="onpush"></div>
    </mat-card-content>
  </mat-card>
</main>
